@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:purple;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif " 
    class="display-4"><strong>Nisa Özyurt'un Online Kütüphanesi</strong></h1>
    <br />
    <br />
    <p> <img src="/img/kutuphane.png" width="800px" height="600px"/> </p>
</div>
