@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<body style="background-color:orange">

<div class="text-center">
    <br />
    <h1 style="color:purple;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@ViewData["Title"]</h1>

    <br />
    <br />
        <p style="font-size:x-large; color:gray"><b>Yeni Mahalle Şehit Astsubay Mustafa Soner Varlık Caddesi No:77, 10250 Bandırma/Balıkesir</b></p>
        <p style="font-size:x-large;color:gray"><b>İnternet Adresimiz</b></p>
        <strong> <a href="https://www.bandirma.edu.tr/"><b>Siteye Git</b></a></strong>
        <p style="font-size:x-large;color:gray"><b>Mail Adresim</b></p>
    <strong><a href="mailto:hayrunnisaozyurt@ogr.bandirma.edu.tr">hayrunnisaozyurt@ogr.bandirma.edu.tr</a></strong>

</div>
</body>